nav .links{
  display: inline-block;
}
.baba{
  text-align: center;
  background-color: grey;
  color: white;
  padding: 20px 10px;
  font-size: 21px;
  display: inline-block;
  align-content: center;
}

h1 {
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  margin: 0;
}

html {
  font-family: sans-serif;
}

footer {
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

h2 {
  background-color: cyan;
  padding: 10px;
}

em {
  font-weight: bold;
  border-bottom: 2px solid yellow;
}

 div .image {
  display: inline-block;
  text-align: center;
  color: blue;
  text-decoration: underline;
  max-width:400px;
}
nav .photos{
  background: none;
  display: inline-block;
  max-width: 500px;
}

div .edits{
  background-color: yellow;
  color: blue;
}
